.Outer h3 {
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    color: var(--red);
}

.Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .Inner button {
        margin: 3em 0;
        font-size: 1.5em;
        white-space: nowrap;
    }

.Images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
}
    .Images a {
        height: 100%;
        overflow: hidden;
    }
    .Images img {
        width: 100%; height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
    }
    .Images img:hover {
        transform: scale(1.1);
    }

@media (max-width: 992px) {
    .Images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .Images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 576px) {
    .Images {
        grid-template-columns: 1fr 1fr;
    }
}