header {
    padding: 1em;
}
.Logo {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
}
    .Logo span {
        height: 80px;
        width: 5px;
        margin: 0 8px;
        background: var(--green);
    }

.LogoImg img {
    height: 100px;
}

.Sublogo {
    position: relative;
}
    .Sublogo div:first-child {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 112px;
        line-height: 80px;
        letter-spacing: -6px;
        background: none;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--red);
    }
    .Sublogo div:nth-child(2) {
        position: absolute;
        bottom: -23px; right: -42px;
        text-transform: uppercase;
        letter-spacing: -4px;
        font-weight: 800;
        font-size: 37px;
        color: var(--green);
    }

@media (max-width: 576px) {
    .Logo {
        padding: 0.5em;
    }
    .Logo span {
        height: 50px;
        margin: 0 4px;
        width: 3px;
    }
    .LogoImg img {
        height: 50px;
    }
    .Sublogo div:first-child {
        font-weight: 700;
        font-size: 2.5em;
        -webkit-text-stroke-width: 2px;
    }
    .Sublogo div:nth-child(2) {
        right: -18px;
        letter-spacing: -2px;
        font-weight: 800;
        font-size: 1em;
    }
}