section {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: auto;
}
    .Wrapper h3 {
        font-size: 1.5em;
        text-align: center;
        color: var(--green);
    }
    .Wrapper > span {
        margin-bottom: 120px;
        font-size: 1.5em;
        text-align: center;
        color: var(--green);
    }

.Video {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
}
    .Video video {
        width: 100%; height: 100%;
        object-fit: cover;
    }

.Desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
}
    .Desc h1 {
        margin-top: 1em;
        font-weight: 600;
        font-size: 4em;
        letter-spacing: -5px;
        color: white;
    }
    .Desc h1 i {
        font-weight: 800;
        font-style: normal;
        letter-spacing: -5px;
        color: var(--red);
        white-space: nowrap;
    }
    .Desc h3 {
        font-size: 2em;
        text-align: center;
        color: var(--text);
    }

.RoverList {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 11;
    overflow: hidden;
}


@media (max-width: 1200px) {
    .Wrapper h3 {
        margin-bottom: 360px;
        font-size: 1.5em;
    }
    .Desc {
        height: 50%;
    }
    .Desc h1 {
        margin-top: 3.5em;
        font-size: 3em;
    }
    .Desc h3 {
        font-size: 1.5em;
    }
    .RoverList {
        flex-direction: column;
        justify-content: flex-end;
    }
}
@media (max-width: 768px) {
    .Wrapper h3 {
        font-size: 1em;
    }
    .Desc h1 {
        margin-top: 3em;
    }
}
@media (max-width: 576px) {
    .Wrapper h3 {
        font-size: 1em;
    }
    .Desc {
        padding: 0 0.5em;
    }
    .Desc h1 {
        margin-top: 2em;
    }
}
@media (max-width: 460px) {
    .Desc h1 {
        font-size: 2.5em;
    }
    .Desc h3 {
        font-size: 1em;
    }
}