.Logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    z-index: 15;
}
    .Logo span {
        height: 100px;
        width: 5px;
        margin: 0 8px;
        background: var(--red);
    }

.LogoImg img {
    height: 100px;
}

.Sublogo {
    position: relative;
}
    .Sublogo div:first-child {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 5em;
        color: var(--text);
        background: none;
        opacity: 0.5;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
    }
    .Sublogo div:nth-child(2) {
        position: absolute;
        bottom: 0; right: -36px;
        text-transform: uppercase;
        letter-spacing: -4px;
        font-weight: 800;
        font-size: 2em;
        color: var(--red);
    }

@media (max-width: 576px) {
    .Logo span {
        height: 50px;
        margin: 0 4px;
        width: 3px;
    }
    .LogoImg img {
        height: 50px;
    }
    .Sublogo div:first-child {
        font-weight: 700;
        font-size: 2.5em;
        -webkit-text-stroke-width: 2px;
    }
    .Sublogo div:nth-child(2) {
        right: -18px;
        letter-spacing: -2px;
        font-weight: 800;
        font-size: 1em;
    }
}