body {
    --green: #4d91a6;
    --red: #FC3D21;
    --text: #bbb;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-anchor: none;
}
